.header{
    padding: 36px 0 20px;
    .header-container {
        border-radius: 10px;    
        padding: 12px 25px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 3px 14.1px 0px #0000001A; 
        max-width: 1049px;
    }
}

.navmenu a, .navmenu a:focus{
    margin: 0 5px;
}
.navmenu li:hover>a, .navmenu .active, .navmenu .active:focus{
    color: #EEAC19;
}

.hero{
    background: url('../img/hero-bg.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 0;
    .hero-content {
        h1{
            font-weight: 700;
            font-size: 54px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #00152A;
        }
    }
    .btn-primary{
       background-color: #EEAC19;
        border-color: #EEAC19;
        color: #00152A;
        border: none;
        cursor: pointer;
    }
    .btn-primary:hover{
        background-color: #00152A;
        border-color: #00152A;
        color: #EEAC19;
        border: none;
        cursor: pointer;
    }
    .btn:hover{
        background-color: #00152A;
        border-color: #00152A;
        color: #EEAC19;
        border: none;
        cursor: pointer;
    }
}

.btn-primary{
   background-color: #EEAC19;
    border-color: #EEAC19;
    color: #00152A;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #00152A;
    border-color: #00152A;
    color: #EEAC19;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #00152A;
    border-color: #00152A;
    color: #EEAC19;
    border: none;
    cursor: pointer;
}

// footer css

.footer{
    background-color: #001F22;
    color: #ffffff;
    h4 {
        color: #EEAC19;
    }
    .footer-links ul a{
        display: inline-flex;
        align-items: center;
        color: #ffffff;
        line-height: 18px;
        &:hover{
            color: #EEAC19;
        }
        .connect-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            margin-right: 8px;
        }
    }
    .copyright{
        border-top: 4px solid #0d83fd;  
    }
    .footer-about{
        display: flex;
        align-items: center;
        justify-content: center;
        .logo img{
            max-height: none;
        }
    }
    .social-links a{
        color: #ffffff;
        border-color: #ffffff;
        &:hover{
            color: #EEAC19;
            border-color: #EEAC19;
        }
    }
} 