.header{
    padding: 36px 0 20px;
    @media screen and (max-width: 992px) {
        padding: 20px 0;
    }
    .header-container {
        border-radius: 10px;    
        padding: 12px 25px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 3px 14.1px 0px #0000001A; 
        max-width: 1049px;
        @media screen and (max-width: 992px) {
            padding: 12px 8px;
        }
    }
    .logoLink {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 205px;
        margin-top: 50px;
    }

    .logoLink .balloonImg {
        position: absolute;
        top: -85%;
        right: 32px;
        width: 36px;
        animation: floatBalloon 2s ease-in-out infinite;
    }

    /* Keyframe for floating animation */
    @keyframes floatBalloon {
        0%, 100% {
            transform: translateY(-4px);
        }
        50% {
            transform: translateY(-10px);
        }
    }
}

.navmenu a, .navmenu a:focus{
    margin: 0 5px;
}
.navmenu li:hover>a, .navmenu .active, .navmenu .active:focus{
    color: #EEAC19;
}

.hero{
    background: url('../img/hero-bg.png') no-repeat center center;
    background-size: cover;
    padding-bottom: 0;
    @media screen and (max-width: 992px) {
        padding-top: 110px;
    }
    .hero-content {
        h1{
            font-weight: 700;
            font-size: 54px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #003439;
            @media screen and (max-width: 992px) {
                font-size: 32px;
                line-height: 38px;
            }
        }
    }
    .btn-primary{
       background-color: #EEAC19;
        border-color: #EEAC19;
        color: #003439;
        border: none;
        cursor: pointer;
    }
    .btn-primary:hover{
        background-color: #003439;
        border-color: #003439;
        color: #EEAC19;
        border: none;
        cursor: pointer;
    }
    .btn:hover{
        background-color: #003439;
        border-color: #003439;
        color: #EEAC19;
        border: none;
        cursor: pointer;
    }
}

.btn-primary{
   background-color: #EEAC19;
    border-color: #EEAC19;
    color: #003439;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #003439;
    border-color: #003439;
    color: #EEAC19;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #003439;
    border-color: #003439;
    color: #EEAC19;
    border: none;
    cursor: pointer;
}

// footer css

.footer{
    background-color: #001F22;
    
    color: #ffffff;
    h4 {
        color: #EEAC19;
    }
    .footer-links ul a{
        display: inline-flex;
        align-items: center;
        color: #ffffff;
        line-height: 18px;
        &:hover{
            color: #EEAC19;
        }
        .connect-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            margin-right: 8px;
        }
    }
    .copyright{
        border-top: 4px solid #003439;
    }
    .footer-about{
        display: flex;
        align-items: center;
        justify-content: center;
        .logo .logoImage{
            //max-height: none;
            .logoLink {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 330px;
                margin-top: 50px;
            }

            .logoLink .balloonImg {
                position: absolute;
                top: -72%;
                right: 55px;
                width: 50px;
                animation: footerfloatBalloon 2s ease-in-out infinite;
            }

            /* Keyframe for floating animation */
            @keyframes footerfloatBalloon {
                0%, 100% {
                    transform: translateY(0%);
                }
                50% {
                    transform: translateY(-10px);
                }
            }
        }
    }
    .social-links a{
        color: #ffffff;
        border-color: #ffffff;
        &:hover{
            color: #EEAC19;
            border-color: #EEAC19;
        }
    }
} 

@media screen and (max-width: 992px) {
  .header .logo .mobile-logo {
    display: none;
  }
  .header .logoLink .balloonImg{
    position: unset;
  }
  .header .logoLink{
    margin-top: 0;
    width: auto;
  }
  @keyframes floatBalloon {
        0%, 100% {
            transform: translateY(5%);
        }
        50% {
            transform: translateY(-8px);
        }
    }
}
