.brandlift-feature{
    background-color: #001F22;
    .container{
        max-width: 1049px;
    }
    .flex-box{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 992px) {
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .feature-box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #003439;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        padding: 20px;
        margin: 0 10px;
        .feature-block{
            text-align: center;
            .feature-img{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                margin: auto;
                margin-bottom: 10px;
                @media screen and (max-width: 992px) {
                    width: 60px;
                    height: 60px;
                }
            }
            h4{
                font-size: 32px;
                font-weight: 700;
                color: #fff;
                margin-bottom: 12px;
                @media screen and (max-width: 992px) {
                    font-size: 26px;
                }
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-align: center;
                color: #fff;
                margin-bottom: 0;
                min-height: 120px;
                @media screen and (max-width: 992px) {
                    font-size: 14px;
                    line-height: 20px;
                    min-height: auto;
                }
            }
        }
    }
}

.about{
    position: relative;
    &.section{
        background-color: unset;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/aboutus-sec-bg.png') no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
    .about-title{
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 100px;
        color: #003439;
        @media screen and (max-width: 992px) {
            font-size: 32px;
            line-height: 38px;
            margin-bottom: 5px;
        }
    }
    .about-content{
        margin-left: 60px;
        margin-right: 200px;
        @media screen and (max-width: 992px) {
            margin: 0;
        }
        h3{
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-bottom: 40px;
            color: #003439;
            @media screen and (max-width: 992px) {
                margin-bottom: 20px;
                font-size: 36px;
            }
        }
        .p-content{
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #003439;
            margin-bottom: 50px;
            @media screen and (max-width: 992px) {
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 30px;
            }
        }
        .button-wrapper{
            .button{
                background: #EEAC19;
                border-radius: 10px;
                padding: 10px 20px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                color: #003439;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.black-bg{
    background: #00152A;
}

.services{
    background: #001F22;
    .section-title{
        padding-bottom: 30px;
        h2{
            color: #fff;
            &.mb0{
                margin-bottom: 0;
            }
            &.pb0{
                padding-bottom: 0;
            }
            &::after{
                display: none;
            }
        }
    }
}

.service-item{
    background: #003439;
    border-radius: 18px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 992px) {
        margin-bottom: 20px;
    }
    .service-block{
        text-align: center;
        .service-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            margin: auto;
            margin-bottom: 15px;
        }
        h3{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
            color: #fff;
            margin-bottom: 0;
        }
    }
}

.mb80{
    margin-bottom: 80px;
}

.client-section{
    .client-card{
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

.btn{
    background: #EEAC19;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #003439;
    border: none;
    cursor: pointer;
    &:hover{
        background: #00152A;
        color: #EEAC19;
    }
}

.case-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
    color: #003439;
}

.testimonial-card{
    background: #ffffff;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 13.1px 2px #00000026;
    @media screen and (max-width: 992px) {
        margin-bottom: 20px;
    }
    .testimonial-block{
        //text-align: center;
        .testimonial-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // height: 225px;
            // margin: auto;
            margin-bottom: 20px; 
            // border: 1.5px solid #EEAC19;
            // border-radius: 10px;
            // background-color: #ffffff;
            // box-shadow: 0px 4px 13.1px 2px #00000026;
        }
        h3{
            font-weight: 800;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;
            margin-bottom: 12px;
            color: #003439;
        }
        .p-content{
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0%;
            color: #003439;
            margin-bottom: 20px;
        }
        .button-wrapper{
            display: flex;
            justify-content: flex-end;
            .btn-cta{
                padding: 6px 15px;
                font-weight: 600;
            }
        }
    }
}

.pl-50 {
    padding-left: 50px;
}
.pr-50{
    padding-right: 50px;
}
.testimonial-img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.hero .customers-badge .avatar.more{
   background-color: #EEAC19;
    color: #003439;
}

.scroll-top{
   background-color: #EEAC19;
   &:hover{
       background-color: #003439; 
   }
}

.contact{
    .sec-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 50px;
        color: #003439;
        padding-bottom: 0;
    }
    .info-box{
        padding: 30px;
       background-color: #EEAC19;
        h3, p{
            color: #003439;
        }
        .content{
            h4{
                color: #003439;
            }
        }
        .info-item .icon-box i {
            color: #003439;
        }
    }
    .contact-form{
        padding: 30px;
        .btn{
           background-color: #EEAC19;
            color: #003439;
            &:hover{
                background-color: #003439;
                color: #EEAC19;
            }
        }
    }
    .contact-form .form-control, .contact-form .form-select{
        padding: 10px 20px;
        &:focus{
            border-color: #EEAC19;
        }
    }
}

